/* globals */


html, body { /* mehrere Selektoren - nötig für manche telefone */
    
    height: 100%;
    width: 100%;
    color: white;
    margin: 0;
}


@font-face {
    font-family: "Maybe";
    src: url("media/Maybe Maybe Not.ttf");
}

@font-face {
    font-family: "OJ";
    src: url("media/orange juice 2.0.ttf");
}




h1 {
    font-family: 'Maybe';
    font-size: 4vh;
    padding-left: 10px;
    padding-bottom: 5px;
}


h2 {
    font-family: 'Maybe';
    font-size: 2vh;
    padding-left: 10px;
    padding-bottom: 5px;
}

h3 {
    font-family: 'OJ';
    font-size: 8vh;
    text-align: center;
}

h4 {
    font-family: 'Arial Black';
    font-size: 6vh;
    text-align: center;
}


body {
    background-color: #33ccff;
    background-image: url(media/bg_blue.jpg);
    background-size: 100% auto; /*volle breite, automatische höhe */
    background-repeat: repeat;
}


button {
    background: transparent;
    border: none;
    color: white;
    background-color: blue;
    border-radius: 2vw;
    
}


/* EO globals */

.row1 {height: calc(100vh/5*1);}
.row2 {height: calc(100vh/5*2);}
.row3 {height: calc(100vh/5*3);}
.row4 {height: calc(100vh/5*4);}
.row5 {height: calc(100vh/5*5);}



.col1 {width: calc(100vw/8*1);}
.col2 {width: calc(100vw/8*2);}
.col3 {width: calc(100vw/8*3);}
.col4 {width: calc(100vw/8*4);}
.col5 {width: calc(100vw/8*5);}
.col6 {width: calc(100vw/8*6);}
.col7 {width: calc(100vw/8*7);}
.col8 {width: calc(100vw/8*8);}

.gabor {background-color: red;}

/* colors */

.color1 {background-color: #33ccff;} /* blau */
.color2 {background-color: #ff9900;} /* orange */
.color3 {background-color: #66cc00;} /* grün */
.color4 {background-color: red;} /* rot */



/* boxes */



.box_menu {
    position: absolute;
    right: 0;
}

.box_info {
    position: absolute;
    left: 0;
    bottom: 0;
}  
    


.box_titel {
    position: absolute;
    left: calc(100vw/8*1);
    top: 0;
}


/* Antwort Boxes

.box_rep1 {
    position: relative;
    left: calc(100vw/8*3);
    top:  10vh;
}


.box_rep2 {
    position: relative;
    left: calc(100vw/8*3);
    top:  12vh;
}

*/


.box_navi {
    position: absolute;
    left: calc(100vw/8*6);
    bottom: 0;
}



.box_spain {
	position: absolute;
	left: 0;
	top: calc(100vh/5*1);
	z-index: 10;
}


.box_map {
	position: absolute;
	left: calc(100vw/8*1);
	top: calc(100vh/5*1);
}
.center {text-align: center;}
#map {height:100%;}



/*  */

/* SVGs 

.st_spain{
    fill:#A91F23;
    width="calc(100vw/8*1)";
    height="calc(100vh/5*1)";
}

.st0{
    fill:#999999;
    width="75vw";
    height="60vh";
}

.st1{
    fill:#A91F23;
    width="75vw";
    height="60vh";
}


*/



/* drop area */

.droptarget {
    position: absolute; 
    top: 30vh;
    left: 30vw;
    width: 10vw; 
    height: 10vh;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}








